{% extends 'base.html' %}

{% block title %}
  Hello world
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
    <h3> Users: </h3>
    <ul>
    {% for user in user_list %}
        <li> {{user}} </li>
    {% endfor %}
    </ul>

    <h3> Data points:</h3>
    <ul>
    {% for data in data_list %}
        <li> {{data}} </li>
    {% endfor %}
    </ul>
{% endblock content %}
